version: "2"

services:
  test_mysql:
    build: .
    command: "test"
    links:
      - mysql
    environment:
      DB_DRIVER: "mysql"
      DB_CONN: "root:letmein@tcp(mysql:3306)/"

  mysql:
    image: mysql:latest
    command: mysqld --general_log --general_log_file=/var/log/mysql/query.log
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: letmein
    volumes:
      - ./fixtures:/docker-entrypoint-initdb.d

